body {
    background-color: #373b44;
}

header {
    border-style: solid;
    border-color: #A4C639;
    background-color: #2e2e2e;
    width: 101%;
    position: fixed;
    top: 0px;
    left: -6px;
    height: 45px;
}

img {
    width: 221px;
    height: 67px;
    top: 20px;
}

.campos {
    height: 30px;
    font-family: Verdana;
    border-style: solid;
    border-color: #A4C639;
    border-width: 2px;
}

#lblMsg {
    position: fixed;
    font-family: Verdana;
    font-size: 14px;
    color: red;
}

input {
    border: thin solid black;
    border-radius: 2px;
}

.pformulario {
    margin-top: 30px;
    font-size: 40px;
    color: #A4C639;
    margin-left: 400px;
}

.btnCadastro {
    height: 28px;
    width: 100px;
    border-style: none;
    background-color: #A4C639;
    border-radius: 3px;
    color: #2e2e2e;
    transition-duration: 0.1s;
    cursor: pointer;
    display: inline-block;
}

.btnCadastro:hover {
    background-color: #2e2e2e;
    color: #A4C639;
    border-style: solid;
    border-color: #A4C639;
    border-width: 2px;
}

.botoes {
    margin-top: 80px;
}

.btnCadastro:hover {
    background-color: #2e2e2e;
    color: #A4C639;
    border-style: solid;
    border-color: #A4C639;
    border-width: 2px;
}

.botoes {
    margin-top: 80px;
}

footer {
    border-style: solid;
    border-color: #A4C639;
    background-color: #2e2e2e;
    height: 45px;
    width: 101%;
    position: fixed;
    left: -3px;
    margin-top: 600px;
}



.formulario {
    height: 500px;
    width: 1050px;
    border-style: solid;
    border-color: #A4C639;
    background-color: rgba(233, 233, 233);
    padding-bottom: 5px;
    left: 200px;
    box-shadow: 2px 2px 2px 2px rgba(10, 10, 10, 0.616);
    margin-top: 60px;
    position: fixed;
}
