body {
    background-color: #373b44;
}

.divUsuario {
    margin-top: 20px;
    margin-bottom: 0px;
}

header {
    border-style: solid;
    border-color: #A4C639;
    background-color: #2e2e2e;
    width: 101%;
    position: fixed;
    top: 0px;
    left: -6px;
    height: 45px;
}

img {
    width: 221px;
    height: 67px;
    top: 20px;
}

.campos {
    height: 30px;
    width:350px;
    font-family: Verdana;
    border-style: solid;
    border-color: #A4C639;
    border-width: 2px;
}

#drpTipoPg {
    font-size: 18px;
    width: 350px;
    font-family: Verdana;
    border-style: solid;
    border-color: #A4C639;
    border-width: 2px;
}

#lblMsg {
    position: fixed;
    font-family: Verdana;
    font-size: 14px;
    color: red;
    margin-left:260px;
}

input {
    border: thin solid black;
    border-radius: 2px;
}

.pformulario {
    margin-top: 30px;
    font-size: 40px;
    color: #A4C639;
    margin-left: 340px;
}
.pcampos{
    margin-left:60px;
}

#Label1, #Label2, #Label3, #Label4{
    font: bold;
    font-size: 20px;
}
#txtValor, #drpTipoPg {
    margin-bottom: 20px;
}
.btnCadastro {
    height: 45px;
    width: 350px;
    border-style: none;
    background-color: #A4C639;
    border-radius: 3px;
    margin-left: 65px;
    margin-top: 30px;
    color: #2e2e2e;
    transition-duration: 0.1s;
    cursor: pointer;
    display: inline-block;
    font:bold;
    font-size:18px;
}

.btnCadastro:hover {
    background-color: #2e2e2e;
    color: #A4C639;
    border-style: solid;
    border-color: #A4C639;
    border-width: 2px;
}

.botoes {
    margin-top: 80px;
}

.btnCadastro:hover {
    background-color: #2e2e2e;
    color: #A4C639;
    border-style: solid;
    border-color: #A4C639;
    border-width: 2px;
}

#lblCodVenda {
    color: #A4C639;
    font-size: 20px;
}
footer {
    border-style: solid;
    border-color: #A4C639;
    background-color: #2e2e2e;
    height: 45px;
    width: 101%;
    position: fixed;
    left: -3px;
    margin-top: 600px;
}


.formulario {
    height: 500px;
    width: 900px;
    border-style: solid;
    border-color: #A4C639;
    background-color: rgba(233, 233, 233);
    padding-bottom: 5px;
    left: 230px;
    box-shadow: 2px 2px 2px 2px rgba(10, 10, 10, 0.616);
    margin-top: 60px;
    position: fixed;
}
